@media screen and (max-width: 698px) {
    .carousel img {
        height: 400px;
    }

    .tot-calc {
        flex-direction: column;
    }

    #formPayment {
        width: 95% !important;
    }

    nav .calc-img {
        width: 15rem;
        height: 15rem;
        transform: translateX(-1rem);
    }

    #smNav .navbar-nav,
    #scrollSmNav .navbar-nav {
        flex-direction: row !important;
        width: 65%;
    }

    .navbar .w-75 {
        width: 100% !important;
    }

    nav {
        z-index: 999;
    }

    nav .icon {
        width: 2.8rem;
        height: 2.8rem;
        background-color: rgb(41, 41, 184);
        transition: all 0.8s;
        border: 3px solid rgb(41, 41, 184);
    }

    nav .icon i {
        transition: all 0.8s;
    }

    nav .icon:hover {
        background-color: #fff;
    }

    footer .icon:hover i {
        color: rgb(41, 41, 184) !important;
    }

    header {
        height: 35vh;
        background-size: cover;
    }

    .head-container {
        transform: translate(-0.1rem, 1rem);
    }

    header .btn-success,
    header .btn-warning {
        font-size: 0.9rem !important;
        padding: 4px 4px !important;
        width: 6rem;
    }


    header .h1 {
        font-size: 1.2rem;
        text-shadow: 3px 3px 5px gray;
    }
    header p {
        font-size: 0.8rem !important;
        width: 50%;
    }

    .introHead {
        width: 70% !important;
    }

    #toRight {
        opacity: 100 !important;
    }

    #userData {
        font-size: .75rem;
        font-weight: bold;
    }

    #whoWeAre .btn-outline-primary,
    .progress {
        margin: 1rem 0;
    }

}

@media screen and (max-width: 992px) {

    #scrollNav,
    #mainNav {
        display: none;
    }

    #smNav ,#dropNav{
        display: block !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .btn-md-sm {
        font-size: .9rem !important;
        font-weight: bold;
    }
}