:root {
    --main-color: ;
    --hover-color: #;
    direction: rtl;
    scroll-behavior: smooth;
}

.pointer {
    cursor: pointer;
}

.w-45 {
    width: 45%;
}

/* ................... 1 header..................... */
.res-nav{
    z-index: 999999;
    transition:  1s !important;
    background-color: rgba(0,0,0,0.9);
    color: white;
    font-size: 1.5rem;
}
nav img {
    width: 5rem;
    height: 5rem;
}

.icon-img {
    width: 4rem;
    height: 4rem;

}

.pay-img {
    width: 3rem;
    height: 3rem;
}

nav {
    z-index: 999;
}

.navbar {
    transition: all 1s;
}

#toUp,
#dropNav,#dropNav2 {
    width: 2.5rem;
    height: 2.5rem;
    z-index: 9999;
    top: 90%;
    transition: all 1s;
}

#dropNav ,#dropNav2{
    left: 2%;
}

#toUp {
    right: 2%;
}

#toUp:hover,
#dropNav:hover ,#dropNav2:hover {
    background-color: darkblue !important;
}

header {
    /* background-image: url(../images/cover-photo-1920-x-1080.png); */
    background-image: url(../images/cover1.png);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    animation: 10s ease-in-out infinite;
}

.head-container {
    transform: translate(-4rem, 8rem);
    z-index: 999999;

}

header .btn-success,
header .btn-warning {
    font-size: 1.25rem !important;
    width: 10rem;
}


header .h1 {
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 4px 4px 7px gray;
}

.layer {
    background-color: rgba(9, 9, 9, .5);
}

@keyframes bgChange {
    0% {
        background-image: url(../images/cover-photo-1920-x-1080.png);
    }

    50% {
        background-image: url(../images/cover1.png);
    }

    100% {
        background-image: url(../images/cover-photo-1920-x-1080.png);
    }

}

/* ................... about..................... */
.carousel img {
    height: 600px;
}

/* ................... تبرع ..................... */
/* .card {
    height: 500px;
} */

.card img {
    height: 300px;
}


/* ................... forms ..................... */
form {
    height: 500px;
}

form button {
    margin: auto;
}

/* ................... 1 header..................... */
/* ................... footer..................... */
.icon {
    width: 3.3rem;
    height: 3.3rem;
    background-color: rgb(41, 41, 184);
    transition: all 0.8s;
    border: 3px solid rgb(41, 41, 184);
}

.icon i {
    transition: all 0.8s;
}

.icon:hover {
    background-color: #fff;
}

.icon:hover i {
    color: rgb(41, 41, 184) !important;
}

footer {
    background-position: center center;
    background-size: contain;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url(../images/footer.jpg);
}

.my-text-location {
    font-size: 0.85rem;
}